<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<nav>
  <h1>测试机借用</h1>
  <ul>
    {% if g.username %}
      <li><span>{{ g.username }}</span>
      <li><a href="{{ url_for('auth.login') }}">切换用户</a>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">登录</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>