{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}测试机借用{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box3 box1">借</div>
        <div class="box3 box2">还</div>
    </div>
    <p>哈哈</p>
    <div class="label">
        <ul>
            <li class="showed borrowTab">借</li>
            <li>还</li>
        </ul>
        <div class="showed"><h3>This is the first section</h3></div>
        <div>
            <h3>This is the second section</h3>
        </div>
    </div>

<script>
		$(".label li").click(function () {
	     if(! $(this).hasClass(".showed")){
	    $(".showed").removeClass("showed");
        $(this).addClass("showed");
    	$(".label>div").eq($(this).index()).addClass("showed");
    	}
    })
</script>
{% endblock %}