{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}测试机借用{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box3 borrowTab boxCover1" id="borrowTab"></div>
        <div class="box3 givebackTab" id="givebackTab"></div>
    </div>

    <div class="list">
        <div class="showed">
             <form action="borrow" method="get">
                 {% for phone in phones %}
                     <label>
                         {% if phone['status'] == 1 %}
                            <input name="phoneId" type="checkbox" value="{{ phone['id'] }}" disabled/>
                         {% else %}
                            <input name="phoneId" type="checkbox" value="{{ phone['id'] }}"/>
                        {% endif %}
                        <img src="{{ phone['picUrl'] }}">
                        <h3>{{ phone['name'] }}</h3>
                        <p>{{ phone['detail'] }}</p>
                    </label>
                 {% endfor %}
                <input type="submit" value="提交">
            </form>
        </div>
        <div>
            <form action="giveBack" method="get">
                 {% for phone in myPhones %}
                     <label>
                         <input name="phoneId" type="checkbox" value="{{ phone['id'] }}"/>
                        <img src="{{ phone['picUrl'] }}">
                        <h3>{{ phone['name'] }}</h3>
                        <p>{{ phone['detail'] }}</p>
                    </label>
                 {% endfor %}
                <input type="submit" value="提交">
            </form>
        </div>
    </div>
    <div class="bottom"> 提交</div>
<script>
    $("#borrowTab").click(
        function () {
            $(this).removeClass("boxCover1").addClass("boxCover2")
        }
    )
    $("#givebackTab").click(
        function () {
            $("#borrowTab").removeClass("boxCover2").addClass("boxCover1")
        }
    )
</script>
{% endblock %}